$green:#19bd9a;
$grey:#9c9fa5;

%title {
	font-family: Source Sans Pro,sans-serif;
	font-size: 25px;
	color:#333b46;
	margin-bottom: 40px;
	font-weight: 300;
	letter-spacing: 5px;
	text-transform: uppercase;
}
%text {
	font-family: Open Sans,sans-serif;
	font-size: 14px;
	font-weight: 500;
	color:$grey;
	margin-bottom: 65px;
}
* {
	padding: 0;
	margin: 0;
}
body {
	//font-family: Source Sans Pro,sans-serif;
	//font-family: Open Sans,sans-serif;
	overflow-x: hidden;
	li{
		list-style: none;
	}
	a {
		text-decoration: none;
	}
}
#span {
	font-family: Open Sans, sans-serif;
	font-weight: 700;
	font-size: 16px;
	color:$green;
}
#span1 {
	font-family: Open Sans, sans-serif;
	font-weight: 700;
	font-size: 16px;
	color:#636971;
}
header {
	padding: 50px 0 330px;
	position: relative;
	background-image: linear-gradient(#00000065,#00000065),url(../img/bg.png),;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.header__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 220px;
		.header-top__logo {
			margin-left: 100px;
			h1{
				font-family: Big John,sans-serif;
				font-size: 25px;
				color:#fff;
			}
		}
		.header-top__nav {
			margin-right: 80px;
			nav>ul {
				display: flex;
				li {
					margin-right: 40px;
					a {
						font-family: Open Sans, sans-serif;
						font-size: 16px;
						color:#fff;
						padding-bottom:2px;
						position: relative;
						&::after {
							content: '';
							position: absolute;
							left: 0;
							bottom: 0;
							width: 0%;
							height: 1px;
							background-color: #fff;
							transition: 0.4s ease-out;
						}
						&:hover::after {
							width: 100%;
						}
					}
				}
			}
		}
	}
	.header__main {
        text-align: center;
        h1 {
        	font-family: Source Sans Pro,sans-serif;
        	font-size: 45px;
        	color:#fff;
        	margin-bottom: 40px;
        	letter-spacing: 10px;
        	text-transform: uppercase;
        	font-weight: 400;
        }
        p {
        	font-family: Open Sans,sans-serif;
        	font-size: 22px;
        	color:#bfbeb9;
        }
	}
}
.this-is-bouncy {
	padding: 115px 0 100px;
	.this-is-bouncy__container {
		display: flex;
		justify-content: center;
		align-items: center;
		.this-is-bouncy-container__left {
			margin-right: 165px;
			h1 {
				@extend %title;
				font-weight: 300;
			}
			p {
				font-family: Open Sans,sans-serif;
				font-size: 14px;
				color:#81868e;
				margin-bottom: 35px;
			}
			button {
				font-family: Open Sans,sans-serif;
				font-size: 16px;
				padding: 13px 30px;
				color:#495059;
				border: 1px solid #495059;
                border-radius: 50px;
                cursor: pointer;
                outline:none;
			}
		}
	}
}
.details {
	padding: 80px 0 105px;
	background: #f3f3f3;
	.details__top {
		text-align: center;
		h1 {
			@extend %title;
		}
		p {
			font-family: Open Sans,sans-serif;
			font-size: 14px;
			font-weight: 500;
			color:$grey;
			margin-bottom: 65px;
		}
	}
	.details-main__cirсles {
		display: flex;
		justify-content: center;
		margin-bottom: 60px;
		.circle {
			position: relative;
			width: 55px;
			height: 55px;
			border-radius: 50%;
			background:#81868e;
			margin-right: 25px;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				background: $green;
			}
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				color:#fff;
				font-size: 27px;
			}
		}
	}
	.details-main__content {
		display: flex;
		justify-content: center;
		.details-main-content__left {
			margin-right:130px;
			h3 {
				font-family: Open Sans,sans-serif;
				font-size: 20px;
				margin-bottom: 40px;
				color:#464646;
			}
			p {
				font-family: Open Sans,sans-serif;
				font-size: 16px;
				color:#81868e;
			}
		}
		.details-main-content__right p {
                font-family: Open Sans,sans-serif;
				font-size: 14px;
				color:#81868e;
		}
	}
}

.projects {
	padding: 80px 0 0;
	.projects__top {
		text-align: center;
		h1 {
			@extend %title;
		}
		p {
			font-family: Open Sans,sans-serif;
			font-size: 14px;
			font-weight: 500;
			color:$grey;
			margin-bottom: 65px;
		}
	}
	.projects-main__container {
		display: flex;
		position: relative;
		.hover-img img {
			height: 325px;
			max-width: 100%;
		}
	}
	.hover-1 {
		position: relative;
		//height: 324px;
		width: 800px;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(0,0,0,.8);
		}
		&::after {
			content: 'WHYSKEY';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			color:#fff;
		}
		&:hover::before,
        &:hover::after{
        	opacity: 0;
        	transition: 2s;
        }
	}
	.hover-2 {
		position: relative;
		width: 552px;
		//height: 330px;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(0,0,0,.8);
		}
		&::after {
			content: 'VINTAGE';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			color:#fff;
		}
		&:hover::before,
        &:hover::after{
        	opacity: 0;
        	transition: 2s;
        }
	}
	.hover-3 {
		position: relative;
		width: 552px;
		//height: 324px;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(0,0,0,.8);
		}
		&::after {
			content: 'BRANDING';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			color:#fff;
		}
		&:hover::before,
        &:hover::after{
        	opacity: 0;
        	transition: 2s;
        }
	}
	.projects__footer {
		padding: 50px 0;
		background: $green;
		display: flex;
		justify-content: center;
		align-items: center;
		p {
			font-family: Open Sans,sans-serif;
			font-size: 20px;
			color:#fff;
			margin-right: 135px;
			span {
				font-weight: 700;
			}
		}
		button {
			font-family: Open Sans,sans-serif;
			font-size: 16px;
			padding: 13px 25px;
			color:#fff;
			border: 1px solid #fff;
            border-radius: 50px;
            cursor: pointer;
            outline:none;
            background: none;			
		}
	}
}

.our-services {
	padding: 85px 0 135px;
	background: #f3f3f3;
	.our-services__top {
		text-align: center;
		h1 {
			@extend %title;
		}
		p {
			@extend %text;
		}
	}
	.our-services__main {
		display: flex;
		justify-content: center;
		align-items: center;
		.our-services-main__left {
			margin-right: 85px;
			display: flex;
			.our-services-main-left__left div{
				position: relative;
			    width: 55px;
			    height: 55px;
			    border-radius: 50%;
			    background:#81868e;
			    margin-bottom: 15px;
			    margin-right: 45px;
			    &:hover {
			    	background:$green;
			    }
			    img {
			    	position: absolute;
			    	top: 50%;
			    	left: 50%;
			    	transform: translate(-50%,-50%);
			    }   
			}
			.our-services-main-left__right {
				h2 {
					font-family: Open Sans,sans-serif;
					font-size: 20px;
					color:#464646;
					margin-bottom: 35px;
				}
				p {
					@extend %text;
					margin-bottom: 30px;
					font-size: 16px;
				}
			}
		}
		.our-services-main__right {
			display: flex;
			div {
               margin-right: 40px;
               p {
               	text-align: center;
               	@extend %text;
               	margin-bottom: 0;
               	font-size: 16px;
               }
			}
		}
	}
}

.portfolio {
	padding: 100px 0;
	background: #f3f3f3;
	.portfolio__top {
		text-align: center;
		h1{
			@extend %title;
		}
		p {
		    @extend %text;
		}
		.portfolio-top__nav {
			nav {
				ul {
					display: flex;
					justify-content: center;
					li {
						margin-right: 45px;
						margin-bottom: 70px;
						a {
							font-family: Open Sans,sans-serif;
							font-size: 16px;
							color:#464646;
							&:hover {
								padding-bottom: 6px;
								border-bottom: 2px solid $green;
							}
						}
					}
				}
			}
		}
	}
}

.portfolio__main {
	display: grid;
	grid-template-columns: 300px 300px 300px ;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	justify-content: center;
	margin-bottom: 40px;
	img {
		margin: 0;
		height: 300px;
		width: 300px;
	}
}
.portfolio__footer {
	padding: 50px 0;
	background: $green;
	display: flex;
	text-align: center;
	flex-direction: column;
	p {
		font-family: Open Sans,sans-serif;
		font-size: 20px;
		color:#fff;
		margin-right: 135px;
		margin-bottom: 35px;
		span {
			font-weight: 700;
		}
	}
	button {
		font-family: Open Sans,sans-serif;
		font-size: 16px;
		padding: 13px 25px;
		color:#fff;
		border: 1px solid #fff;
        border-radius: 50px;
        cursor: pointer;
        outline:none;
        background: none;
        margin: 0 auto;			
		}
	}

.team {
	padding: 80px 0 100px;
	.team__top {
		text-align: center;
		h1 {
			@extend %title;
		}
		p {
			@extend %text;
		}
	}
	.team__main {
		display: flex;
		justify-content: center;
		.team-main__left {
			margin-right: 330px;
		}
		.team-main__right {
			.team-main-right__top {
				padding-right: 45px;
				border-right: 5px solid $green;
				margin-bottom: 35px;
				h2 {
					font-family: Open Sans,sans-serif;
					font-size: 20px;
					margin-bottom: 15px;
					color:#464646;
				}
				em {
					font-family: Source Sans Pro, sans-serif;
					font-size: 14px;
					
					color:#81868e;
					text-transform: uppercase;
				}
			}.team-main-right__main {
            	p {
            		margin-bottom: 45px;
            		@extend %text;
            	}
			}
		}
	}
}

.contact-us {
	position: relative;
	padding: 60px 0;
	/*background-image: linear-gradient(#00000099, #00000099) url(../img/black-bg.png);
	background-position: center;
	background-size: cover;
	text-align: center;*/	
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right:0;
		bottom: 0;
		left: 0;
		background-image: url(../img/black-bg.png);
		background-position: center;
		background-size: cover;
		text-align: center;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right:0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,.8);
	}
	.contact-us__box{
		position: relative;
		z-index: 102;
		text-align: center;
		h2 {
			font-family: Open Sans,sans-serif;
			font-size: 20px;
			margin-bottom: 35px;
			color:#fff;
		}
		button {
			font-family: Open Sans,sans-serif;
			font-size: 16px;
			padding: 10px 20px;
			background:none;
			border:1px solid #fff;
			border-radius: 30px;
			color:#fff;
			outline:none;
			cursor: pointer;
		}
	}	
}
.testimonials {
	padding: 85px 0 160px;
	background: #f3f3f3;
	.testimonials__top {
		text-align: center;
		h1 {
			@extend %title;
		}
		p {
			@extend %text;
		}
	}
	.testimonials__main {
		display: flex;
		justify-content: center;
		.testimonials-main__left {
			margin-right: 70px;
		}
		.testimonials-main__right {
			p {
				font-family: Open Sans,sans-serif;
				font-size: 16px;
				color:#81868e;
				margin-bottom: 35px;
			}
			h3 {
				font-family: Open Sans,sans-serif;
				font-size: 16px;
				color:$green;
				margin-bottom: 10px;
				font-weight: 800;
				text-transform: uppercase;
			}
			span {
				font-family: Open Sans,sans-serif;
				font-size: 14px;
				color:#464646;
				text-transform: uppercase;
			}
		}
	}
}

.latest-news {
	padding: 100px 0;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-image: url(../img/bg-2.png);
		background-size: cover;
		background-position:center;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(0,0,0,.8);
	}
	.latest-news__top {
		margin-left: 120px;
		margin-bottom: 100px;
		position: relative;
		z-index: 103;
		h1 {
			@extend %title;
			color:#fff;
		}
		p {
			@extend %text;
			color: #b2b3b3;
		}
	}
	.latest-news__main {
		margin-left: 170px;
		position: relative;
		z-index: 103;
		h4 {
			font-family: Open Sans,sans-serif;
			font-size: 25px;
			color:#e1e4e9;
			margin-bottom: 15px;
			font-weight: 400;
		}
		em {
			display: block;
			font-family: Source Sans Pro, sans-serif;
			font-size: 17px;
			color:#515459;
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: 20px;
			span {
				color:$green;
			}
		}
		span {
			font-family: Source Sans Pro, sans-serif;
			font-size: 16px;
			color:#282828;
			font-weight: 600;
			//margin-bottom: 60px;
		}
		p {
			font-family: Open Sans,sans-serif;
			font-size: 15px;
			color:#81868e;
			font-weight: 600;
			margin: 60px 0;
		}
		a {
			font-family: Open Sans,sans-serif;
			font-size: 16px;
			color:#949595;
			font-weight: 600;
			text-transform: uppercase;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.our-price {
	padding: 80px 0 100px;
	background: #f3f3f3;
	.our-price__top {
		text-align: center;
		h1 {
			@extend %title;
		}
		p {
			@extend %text;
		}
	}
	.our-price__main {
		display: flex;
		justify-content: center;
		.our-price-main__card {
			min-width: 236px;
			min-height: 305px;
			margin-right: 65px;
		}
		.our-price-main-card__top {
			min-height: 65px;
			background: $green;
			//text-align: center;
			position: relative;
			h1 {
				font-family: Open Sans,sans-serif;
				font-size: 20px;
				font-weight: 800;
				color:#fff;
				text-transform: uppercase;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
			p {
				font-family: Open Sans, sans-serif;
				font-size: 16px;
				color:#fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
		.our-price-main-card__main {
			position: relative;
			min-width: 235px;
			min-height: 235px;
			border:1px solid #D0D0D0;
			display: flex;
			flex-direction: column;
			.center-card__p {
				font-family: Open Sans, sans-serif;
				font-size: 14px;
				color:#81868e;
				margin: auto;
				//margin-top: 10px;
				p {
					margin-top: 10px;
				}
			}
			.our-price-main-card__mainContent {
				margin: auto;
				h1 {
					font-family: Source Sans Pro, sans-serif;
					font-size: 42px;
					font-weight: 900;
					//margin-bottom: 15px;
					color:$green;
					text-align: center;
				}
				p {
					font-family: Open Sans, sans-serif;
					font-size: 20px;
					color:#81868e;
				}
			}
		}
	}
}

.our-price-main-card__bottom {
	height: 65px;
	background: $green;
	//text-align: center;
	position: relative;
	p {
		font-family: Open Sans,sans-serif;
		font-size: 16px;
		color:#fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}

.subscribe-us {
	padding: 80px 0 100px;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url(../img/bg-3.png);
		background-size: cover;
		background-position: center;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.8);
	}
	.subscribe-us__top {
		text-align: center;
		position: relative;
		z-index: 102;
		h1 {
			@extend %title;
			color:#fff;
		}
		p {
			@extend %text;
		}
	}
	.subscribe-us__main {
		text-align: center;
		position: relative;
		z-index: 102;
		form {
			input:first-child {
				height: 40px;
				width: 355px;
				max-width: 100%;
				background: none;
				border:2px solid #81868e;
				margin-right: 10px;
				padding-left: 20px;
				color:#cfd3d4;
				font-family: Open Sans,sans-serif;
				font-size: 14px;
				outline: none;
				&:focus {
					border-color:$green;
				}
			}
			input:last-child {
				//height: 40px;
				background: $green;
				color:#fff;
				font-family: Open Sans,sans-serif;
				font-size: 14px;
				border:none;
				padding: 12px 50px;
				outline: none;
				cursor: pointer;
			}
		}
	}
}

.contacts-us {
	padding: 80px 0 100px;
	background-color: #f3f3f3;
	.contacts-us__top {
		text-align: center;
		h1 {
			@extend %title;
		}
		p {
			@extend %text;
		}
	}
	.contacts-us__main {
		display: flex;
		justify-content: center;
		.contacts-us-main__card {
			margin-right: 40px;
			min-height: 275px;
			min-width: 290px;
			.contacts-us-main-card__top {
				min-height: 145px;
			}
			.contacts-us-main-card__main {
				display: flex;
				min-height: 125px;
				background: #fff;
				.contacts-us-main-card-main__cont {
					margin: auto;
					text-align: center;
					h3 {
						font-family: Open Sans, sans-serif;
						font-size: 16px;
						font-weight: 600;
						color:#464646;
						margin-bottom: 25px;
						text-transform: uppercase;
					}
					p {
						font-family: Open Sans, sans-serif;
						font-size: 14px;
						color:#81868e;
					}
				}
			}
		}
	}
}

.card1-top {
	background-image: url(../img/image-1.png);
	background-size: cover;
	background-position:center;
}
.card2-top {
	background-image: url(../img/image-2.png);
	background-size: cover;
	background-position:center;
}
.card3-top {
	background-image: url(../img/image-3.png);
	background-size: cover;
	background-position:center;
}

.Form {
	 padding: 80px 250px 100px;
	 .form {
	 	text-align: center;
	 	.inp1 {
	 		font-family: Open Sans, sans-serif;
	 		font-size: 14px;
	 		color:#a9a9a9;
	 		width: 290px;
	 		padding: 15px 0 15px ;
	 		padding-left: 20px;
	 		background: none;
	 		border:1px solid #d8dce0;
	 		margin-right: 40px;
	 		margin-bottom: 30px;
	 		outline: none;
	 	}
	 	.inp1-last {
	 		margin-right: 0;
	 	}
	 	button {
	 		padding: 20px 40px;
	 		background: $green;
	 		color:#fff;
	 		text-transform: uppercase;
	 		font-size: 20px	;
	 		outline: none;
	 		border:none;
	 	}
	 }
}

footer {
	padding: 80px 0 90px;
	background: #262626;
	.footer-cont {
		text-align: center;
		h1 {
			font-family: Big John,sans-serif;
			font-size: 25px;
			color:#fff;
			margin-bottom: 25px;
		}
		p {
			font-family: Open Sans, sans-serif;
	 		font-size: 14px;
			margin-bottom: 40px;
			color:#81868e;
		}
	}
}













































/*-----------Mobile navigation--------------*/

.mobile-nav {
	position: absolute;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100vh;
	background: rgba(0,0,0,0.9);
	transition: transform 0.4s ease-in;
	text-align: center;
}
.mobile-nav.active {
	transform: translateX(-100%);
}
.mobile-nav__title h1 {
	font-family: Open sans,sans-serif;
	margin-top: 60px;
	color:$green;
	margin-bottom: 100px;
	font-size: 21px;
}
.mobile-nav__list {
	li {
		margin-bottom: 20px;
	}
	a {
		font-family: Source Sans Pro, sans-serif;
		font-size: 18px;
		color:#fff;
	}
}